<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Cuisine ID</dt>
  <dd><%= @cuisine %></dd>

  <dt>Favorited</dt>
  <% @venue.each do |venue| %>
  <dd><%= Venue.find(venue.venue_id).name %> (<%= User.find(venue.user_id).username %>)</dd>
  <% end %>

</dl>
